In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [84]:
 bank=pd.read_csv("C:/Users/pankshar/Desktop/Learning material/EXCELR/Assignment/Logistic Regression/bank-full.csv",encoding='latin1')

In [85]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [86]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [12]:
bank.shape

(45211, 17)

In [13]:
bank=bank.dropna()

In [87]:
bank1=pd.get_dummies(bank, columns=['job','marital','default','housing','loan','poutcome'])

In [118]:
bank1.columns

Index(['age', 'education', 'balance', 'contact', 'day', 'month', 'duration',
       'campaign', 'pdays', 'previous', 'y', 'job_admin.', 'job_blue-collar',
       'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired',
       'job_self-employed', 'job_services', 'job_student', 'job_technician',
       'job_unemployed', 'job_unknown', 'marital_divorced', 'marital_married',
       'marital_single', 'default_no', 'default_yes', 'housing_no',
       'housing_yes', 'loan_no', 'loan_yes', 'poutcome_failure',
       'poutcome_other', 'poutcome_success', 'poutcome_unknown'],
      dtype='object')

In [119]:
bank2=bank1.drop(['education','day','month','duration','contact'],axis='columns')

In [120]:
bank2.columns

Index(['age', 'balance', 'campaign', 'pdays', 'previous', 'y', 'job_admin.',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single', 'default_no',
       'default_yes', 'housing_no', 'housing_yes', 'loan_no', 'loan_yes',
       'poutcome_failure', 'poutcome_other', 'poutcome_success',
       'poutcome_unknown'],
      dtype='object')

In [121]:
my_column=bank2.pop('y')
bank2.insert(30,my_column.name,my_column)
bank2.columns

Index(['age', 'balance', 'campaign', 'pdays', 'previous', 'job_admin.',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single', 'default_no',
       'default_yes', 'housing_no', 'housing_yes', 'loan_no', 'loan_yes',
       'poutcome_failure', 'poutcome_other', 'poutcome_success',
       'poutcome_unknown', 'y'],
      dtype='object')

In [122]:
x=bank2.iloc[:,0:30]
x

,age,balance,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,...,default_no,default_yes,housing_no,housing_yes,loan_no,loan_yes,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,2143,1,-1,0,0,0,0,0,1,...,1,0,0,1,1,0,0,0,0,1
1,44,29,1,-1,0,0,0,0,0,0,...,1,0,0,1,1,0,0,0,0,1
2,33,2,1,-1,0,0,0,1,0,0,...,1,0,0,1,0,1,0,0,0,1
3,47,1506,1,-1,0,0,1,0,0,0,...,1,0,0,1,1,0,0,0,0,1
4,33,1,1,-1,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,825,3,-1,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,1
45207,71,1729,2,-1,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,1
45208,72,5715,5,184,3,0,0,0,0,0,...,1,0,1,0,1,0,0,0,1,0
45209,57,668,4,-1,0,0,1,0,0,0,...,1,0,1,0,1,0,0,0,0,1
45210,37,2971,2,188,11,0,0,1,0,0,...,1,0,1,0,1,0,0,1,0,0

In [123]:
y=bank2.iloc[:,-1]
y

0         no
1         no
2         no
3         no
4         no
        ...
45206    yes
45207    yes
45208    yes
45209     no
45210     no
Name: y, Length: 45211, dtype: object

In [124]:
classifier=LogisticRegression()
classifier.fit(x,y)

C:\Users\pankshar\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [125]:
y_pred=classifier.predict_proba(x)

In [126]:
y_pred

array([[0.91327461, 0.08672539],
       [0.90753529, 0.09246471],
       [0.96521349, 0.03478651],
       ...,
       [0.3301076 , 0.6698924 ],
       [0.92015267, 0.07984733],
       [0.73954639, 0.26045361]])

In [127]:
y_pred=classifier.predict(x)
y_pred

array(['no', 'no', 'no', ..., 'yes', 'no', 'no'], dtype=object)

In [132]:
from sklearn.metrics import confusion_matrix
confusion_matrix=confusion_matrix(y,y_pred)
print(confusion_matrix)

[[39615   307]
 [ 4599   690]]

In [142]:
accuracy=((39615+690)/(39615+690+307+4599))*100
accuracy

89.14865851230896