In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [2]:
df=pd.read_csv(r"C:\Users\pankshar\Desktop\Learning material\EXCELR\Assignment\Pending17_SVM\SalaryData_Train.csv")
df1=pd.read_csv(r"C:\Users\pankshar\Desktop\Learning material\EXCELR\Assignment\Pending17_SVM\SalaryData_Test.csv")

In [3]:
x_train=df.iloc[: , 0:13]
x_test=df1.iloc[:, 0:13]
y_train=df.iloc[:,13]
y_test=df1.iloc[:,13]

In [4]:
string_columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [5]:
from sklearn import preprocessing
for i in string_columns:
    number=preprocessing.LabelEncoder()
    x_train[i]=number.fit_transform(x_train[i])
    x_test[i]=number.fit_transform(x_test[i])

In [6]:
x_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,39,5,9,13,4,0,1,4,1,2174,0,40,37
1,50,4,9,13,2,3,0,4,1,0,0,13,37
2,38,2,11,9,0,5,1,4,1,0,0,40,37
3,53,2,1,7,2,5,0,2,1,0,0,40,37
4,28,2,9,13,2,9,5,2,0,0,0,40,4

In [7]:
def norm_func(i):
    x=(i-i.min())/(i.max()-i.min())
    return(x)
x_train=norm_func(x_train)
x_test=norm_func(x_test)

In [8]:
from sklearn.svm import SVC

In [9]:
model_linear= SVC(kernel="linear")
model_linear.fit(x_train,y_train)
pred_test_linear=model_linear.predict(x_test)
np.mean(pred_test_linear==y_test)

0.8098273572377158

In [10]:
model_poly=SVC(kernel="poly")
model_poly.fit(x_train,y_train)
pred_test_poly=model_linear.predict(x_test)
np.mean(pred_test_poly==y_test)

0.8098273572377158